<h2>Albums List for Artist</h2>

<div>
    {{#each artistAlbums}}
    <div>
        <h3>{{this.name}}</h3>
        <img src="{{this.images.[0].url}}" width="100" height="175"/>
        <a href='/tracks/{{this.id}}'><button>View Tracks</button></a>
    </div>
    {{/each}}
</div>